<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <title>Web Guesser</title>

  <style type="text/css">
    body {
      margin-top: 50px;
      background: <%= background_color %>
    }
  </style>

</head>
<body>

  <div class="container">
    <div class="jumbotron">
      <div class="col-lg-6 offset-lg-3">
        <h1>Web Guesser</h1>
        <p class="lead">
        This is a simple number guessing game built with Sinatra. You have five guesses. Good luck!
        </p>
        <hr>

        <% if !params.include?("guess") %>
          <p>
            I'm thinking of a number. Can you guess it?
          </p>
        <% else %>
          <p>
            Your guess is <%= params["guess"] %>.
          </p>
        <% end %>

        <p>
          <b>Evaluation:</b> <%= message %>
        </p>

        <form>
          <div class="input-group">
              <input type="text" class="form-control" name="guess">
              <span class="input-group-btn"><input type="submit" class="btn btn-primary" value="Guess!"></span> 
          </div>
        </form>
        
        <% if number == params["guess"].to_i || params["cheat"] == "true" %>
          <p><i>The secret number is <%= number %></i></p>
        <% end %>
      </div>
    </div>
  </div>
  
</body>
</html>