<!DOCTYPE html>
<html>
<head>
  <title>Web Guesser</title>

  <style type="text/css">
    body {
      background: <%= background_color %>
    }
  </style>
</head>
<body>
  <form>
    <input type="text" name="guess">
    <input type="submit" value="Guess!">
  </form>
  <p>
    Your guess is <%= params["guess"] %>.
  </p>

  <p>
    <b>Evaluation:</b> <%= message %></p>

  
  <% if number == params["guess"].to_i %>
    <p><i>The secret number is <%= number %></i></p>
  <% end %>
  
</body>
</html>